### Django template
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

### Django stuff:
backend/static/
backend/media/

### Docker:
docker-compose.override.yml

### Development environment:
.env

### Database:
docker/db/data

### Celery:
backend/dload
backend/celerybeat.pid
